[submodule "jquery.modal"]
	path = jquery.modal
	url = git@github.com:jungissei/jquery.modal.git
[submodule "jquery.common"]
	path = jquery.common
	url = git@github.com:jungissei/jquery.common.git
[submodule "jquery.global_menu"]
	path = jquery.global_menu
	url = git@github.com:jungissei/jquery.global_menu.git
[submodule "jquery.go_top"]
	path = jquery.go_top
	url = git@github.com:jungissei/jquery.go_top.git
[submodule "jquery.scroll_event"]
	path = jquery.scroll_event
	url = git@github.com:jungissei/jquery.scroll_event.git
[submodule "jquery-smooth-scroll"]
	path = jquery-smooth-scroll
	url = git@github.com:jungissei/jquery-smooth-scroll.git
[submodule "body-scroll-lock"]
	path = body-scroll-lock
	url = git@github.com:jungissei/body-scroll-lock.git
[submodule "yubinbango"]
	path = yubinbango
	url = git@github.com:jungissei/yubinbango.git
[submodule "flatpickr"]
	path = flatpickr
	url = git@github.com:jungissei/flatpickr.git
[submodule "jquery-validation"]
	path = jquery-validation
	url = git@github.com:jungissei/jquery-validation.git
[submodule "jquery.form"]
	path = jquery.form
	url = git@github.com:jungissei/jquery.form.git
[submodule "jquery.accordion"]
	path = jquery.accordion
	url = git@github.com:jungissei/jquery.accordion.git
