[submodule "jquery.modal"]
	path = jquery.modal
	url = git@github.com:jungissei/jquery.modal.git
[submodule "jquery.common"]
	path = jquery.common
	url = git@github.com:jungissei/jquery.common.git
[submodule "jquery.global_menu"]
	path = jquery.global_menu
	url = git@github.com:jungissei/jquery.global_menu.git
[submodule "jquery.go_top"]
	path = jquery.go_top
	url = git@github.com:jungissei/jquery.go_top.git
[submodule "jquery.scroll_event"]
	path = jquery.scroll_event
	url = git@github.com:jungissei/jquery.scroll_event.git
